<div class="container">
Edit Experience
<form method='POST' action='/experience/edit/{{experience.id}}'>
 <div class="form-group" > 
     {{title}}
    <label>Title</label>
    <input type="text" class="form-control"  value="{{experience.title}}" name="title">
  </div>
<div class="form-group">
    <label>start Date</label>
    <input type="date" class="form-control"  value="{{experience.start}}" name="start">
</div>
<div class="form-group">
    <label>End Date</label>
    <input type="date" class="form-control"  value="{{experience.end}}" name="end">
</div>
<div class="form-group">
    <label>description</label>
    <textarea rows="4" cols="50" name="description">{{experience.description}}</textarea>
</div>
<button class="btn btn-primary">
register
</button>
</form>
</div>
</div>